# Compiled Object files
*.slo
*.lo
*.o
*.obj
canspy

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated source files
moc*
ui_*
qrc_*
Makefile
*.pro.user

# Other files
setting.txt
*.orig
